/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body {
  margin: 0px;
  padding: 0px;
}
body{
  background-image: url("../img/p.png");
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif
}